body {
  background-color: #272822;
  color: #F8F8F2;
  margin: 0;
  font-family: 'Fira Code', monospace;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hamburger-button {
  background: none;
  border: none;
  color: #F8F8F2;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #2C2C2C;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.2s;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  width: 300px;
}

.sidebar h2 {
  color: #F8F8F2;
  padding-left: 20px;
}

.file-controls {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  flex-shrink: 0;
}

.file-controls .file-input {
  background-color: #2C2C2C;
  border: 1px solid #555;
  color: #F8F8F2;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
  width: 95%;
}

.file-controls .create-button,
.file-controls .show-files-button {
  background-color: #3d994c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
}

.file-controls .create-button:hover {
  background-color: #358c3f;
}

.file-controls .show-files-button {
  background-color: #3d3d3d;
}

.file-controls .show-files-button:hover {
  background-color: #4d4d4d;
}

.files-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.files-container.open {
  max-height: 1000px; /* Adjust this to a large enough value */
}


.files-container.closed {
  max-height: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 20px;
  text-decoration: none;
  color: #F8F8F2;
  display: block;
  border-bottom: 1px solid #444;
}

.sidebar ul li.selected {
  background-color: #1c1c1c80;
}

.sidebar ul li .file-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 5px;
}

.sidebar ul li button {
  background-color: #3d994c;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar ul li button:hover {
  background-color: #358c3f;
}

.sidebar ul li .delete-button {
  background-color: #d9534f;
}

.sidebar ul li .delete-button:hover {
  background-color: #c9302c;
}

.sidebar ul li .rename-button {
  background-color: #1E90FF;
}

.sidebar ul li .rename-button:hover {
  background-color: #1C86EE;
}

.save-button,
.load-button {
  background-color: #2965f1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin: 10px 20px;
  flex-shrink: 0;
}

.save-button {
  margin-top: 10px;
}

.load-button {
  margin-top: 0;
}

.save-button:hover,
.load-button:hover {
  background-color: #1f50b5;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.playground-heading {
  padding-left: 60px;
}

.output-container {
  flex: 1;
  padding: 10px;
  background-color: #1E1E1E;
  color: #F8F8F2;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.python-editor {
  flex: 1;
  background-color: #272822;
  color: #F8F8F2;
  font-family: 'Fira Code, monospace';
  border: 1px solid #ccc;
}

.run-button,
.clear-button {
  background-color: #3d994c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin-right: 10px;
}

.clear-button {
  background-color: #d9534f;
}

.run-button:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

.run-button:hover {
  background-color: #358c3f;
}

.clear-button:hover {
  background-color: #c9302c;
}

.color-picker-button {
  background-color: #ab34eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
  width: auto;
}

.color-picker-button:hover {
  background-color: #8710c7;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #1E1E1E;
  padding: 10px;
  border-radius: 5px;
}

.html-playground-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f16528;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  text-decoration: none;
}

.html-playground-button:hover {
  background-color: #e85313;
}

.SplitPane .Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
  transition: all 2s ease;
}

.SplitPane .Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.SplitPane .Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.SplitPane .Resizer.disabled {
  cursor: not-allowed;
}

.SplitPane .Resizer {
  border-color: rgba(255, 255, 255, .5);
}

.color-picker {
  position: flex;
  z-index: 2;
}

.input-field {
  background-color: #1E1E1E;
  color: white;
  border: none;
  outline: none;
  margin-top: auto;
}

.stop-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin-right: 10px;
}

.stop-button:hover {
  background-color: #c9302c;
}

.stop-button:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

.file-buttons .rename-button {
  background-color: #2965f1;
}

.file-buttons .rename-button:hover {
  background-color: #0e50eb;
}

.output-container.hide-cursor .xterm-cursor {
  display: none;
}

.color-picker {
  position: flex;
  z-index: 1000;
}

@media (max-width: 768px) {
  .editor-container, .output-container {
    flex: none;
    width: 100%;
  }
  .output-container {
    display: none;
  }
  .output-container.show {
    display: flex;
  }
  .mobile-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .color-picker-button, .html-playground-button {
    display: none;
  }
  .sidebar.open .color-picker-button, .sidebar.open .html-playground-button {
    display: block;
  }
  .back-button {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #3d994c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
  }
  .back-button:hover {
    background-color: #358c3f;
  }
  .editor-container.hidden {
    display: none;
  }
  .output-container.hidden {
    display: none;
  }
  .output-container.show {
    display: flex;
  }
  .hamburger-button{
    top: 10px;
    right: -425px;
  }
  .color-picker-button, .html-playground-button {
    display: flex;
  }
}

.settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2C2C2C;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  color: #F8F8F2;
}

.settings-modal h2 {
  margin-top: 0;
}

.theme-selector, .font-size-selector {
  margin-bottom: 20px;
}

.theme-selector label, .font-size-selector button {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #F8F8F2;
}

.font-size-selector button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #3d994c;
  color: white;
  cursor: pointer;
}

.font-size-selector button:hover {
  background-color: #358c3f;
}

.settings-button, .close-settings-button {
  background-color: #3d3d3d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin-top: 0px;
}

.settings-button:hover, .close-settings-button:hover {
  background-color: #4d4d4d;
}