body {
  background-color: #272822; /* Dark background color */
  color: #F8F8F2; /* Text color */
  margin: 0;
  font-family: 'Fira Code', monospace; /* Apply font family to the body */
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full height without footer */
  overflow: hidden; /* Prevent overflow */
  position: relative; /* To position the HTML Playground button */
}

.hamburger-button {
  background: none; /* Background color */
  border: none; /* No border */
  color: #F8F8F2; /* Text color */
  font-size: 30px; /* Font size */
  cursor: pointer; /* Cursor pointer */
  padding: 10px; /* Padding */
  position: absolute; /* Absolute positioning */
  top: 10px; /* Top position */
  left: 10px; /* Left position */
  z-index: 1000; /* High z-index */
}

.sidebar {
  position: absolute; /* Absolute positioning */
  top: 0; /* Top position */
  left: 0; /* Left position */
  height: 100%; /* Full height */
  width: 0; /* Initial width */
  background-color: #2C2C2C; /* Sidebar background color */
  overflow-x: hidden; /* Hide horizontal overflow */
  transition: 0.2s; /* Smooth transition */
  padding-top: 60px; /* Padding top */
  z-index: 999; /* High z-index */
}

.sidebar.open {
  width: 300px; /* Sidebar open width */
}

.sidebar h2 {
  color: #F8F8F2; /* Text color */
  padding-left: 20px; /* Padding left */
}

.file-controls {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.file-controls .file-input {
  background-color: #2C2C2C;
  border: 1px solid #555;
  color: #F8F8F2;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
  width: 95%;
}

.file-controls .create-button {
  background-color: #3d994c; /* Green background color for create button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
}

.file-controls .show-files-button {
  background-color: #d9534f; /* Red background color for show files button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
}

.file-controls .create-button:hover {
  background-color: #358c3f; /* Darker green on hover */
}

.file-controls .show-files-button:hover {
  background-color: #c9302c; /* Darker red on hover */
}

.files-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.files-container.show {
  max-height: 500px; /* Adjust according to your content height */
}

.sidebar ul {
  list-style-type: none; /* No list style */
  padding: 0; /* No padding */
}

.sidebar ul li {
  padding: 8px 20px; /* Padding */
  text-decoration: none; /* No text decoration */
  color: #F8F8F2; /* Text color */
  display: block; /* Block display */
  border-bottom: 1px solid #444; /* Dark line between files */
}

.sidebar ul li.selected {
  background-color: #1c1c1c80; /* Darker background for selected file */
}

.sidebar ul li .file-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Space between buttons */
  margin-top: 5px; /* Space above the buttons */
}

.sidebar ul li button {
  background-color: #3d994c; /* Default button background color */
  border: none; /* No border */
  color: white; /* Text color */
  padding: 5px 10px; /* Padding */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.sidebar ul li button:hover {
  background-color: #358c3f; /* Darker green on hover */
}

.sidebar ul li .delete-button {
  background-color: #d9534f; /* Red background color for delete button */
}

.sidebar ul li .delete-button:hover {
  background-color: #c9302c; /* Darker red on hover */
}

.save-button,
.load-button {
  background-color: #2965f1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  margin: 10px 20px;
}

.save-button:hover,
.load-button:hover {
  background-color: #1f50b5;
}

.editor-container {
  flex: 1;
  padding: 10px;
  background-color: #272822; /* Background color for the editor container */
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px); /* Adjust to leave space for buttons */
  position: relative; /* Add relative positioning */
}

.playground-heading {
  padding-left: 60px; /* Shift heading to the right */
}

.output-container {
  flex: 1;
  padding: 10px;
  background-color: #1E1E1E; /* Slightly different background for output */
  color: #F8F8F2; /* Text color for the output */
  border-left: 1px solid #ccc;
  overflow-y: auto; /* Scroll if the content overflows */
  height: 100%; /* Ensure it takes full height */
}

.python-editor {
  height: calc(100% - 70px); /* Ensure the editor takes full height minus space for buttons */
  background-color: #272822; /* Background color for the AceEditor */
  color: #F8F8F2; /* Text color for the AceEditor */
  font-family: 'Fira Code, monospace'; /* Font family for the AceEditor */
  border: 1px solid #ccc;
  flex: 1;
}

.run-button,
.clear-button,
.color-picker-button {
  background-color: #3d994c; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Padding for the button */
  border-radius: 20px; /* Smooth curves */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  font-family: 'Fira Code', monospace; /* Font family */
  margin-right: 10px; /* Space between buttons */
}

.clear-button {
  background-color: #d9534f; /* Red background color for clear button */
}

.color-picker-button {
  background-color: #2965f1;
}

.run-button:disabled {
  background-color: #808080; /* Grey background color for disabled buttons */
  cursor: not-allowed; /* Not-allowed cursor for disabled buttons */
}

.run-button:hover {
  background-color: #358c3f; /* Slightly darker green on hover */
}

.clear-button:hover {
  background-color: #c9302c; /* Slightly darker red on hover */
}

.color-picker-button:hover {
  background-color: #1f50b5; /* Slightly darker blue on hover */
}

pre {
  white-space: pre-wrap; /* This makes the text wrap within the pre element */
  word-wrap: break-word; /* This ensures that long words break to fit within the pre element */
  background-color: #1E1E1E; /* Background color for the pre element */
  padding: 10px;
  border-radius: 5px;
}

.html-playground-button {
  position: absolute; /* Change from fixed to absolute */
  bottom: 10px; /* Adjust position as needed */
  right: 10px; /* Adjust position as needed */
  background-color: #f39c12; /* Orange background color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  text-decoration: none;
}

.html-playground-button:hover {
  background-color: #e67e22; /* Slightly darker orange on hover */
}

/* Style for the resizer */
.SplitPane .Resizer {
  background: #000; /* Resizer background color */
  opacity: .2; /* Resizer opacity */
  z-index: 1; /* Make sure it's above other elements */
  box-sizing: border-box; /* Box-sizing border-box for better control */
  background-clip: padding-box; /* Background clip padding-box */
}

.SplitPane .Resizer:hover {
  transition: all 2s ease;
}

.SplitPane .Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.SplitPane .Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.SplitPane .Resizer.disabled {
  cursor: not-allowed;
}

.SplitPane .Resizer:hover {
  border-color: rgba(255, 255, 255, .5);
}

/* Style for the color picker */
.color-picker {
  position: flex;
  z-index: 2;
}

.input-field {
  background-color: #1E1E1E;
  color: white;
  border: none;
  outline: none;
  margin-top: auto;
}
