body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* PythonPlayground.css */
.python-editor {
  height: 300px;
  background-color: #272822; /* Background color */
  color: #F8F8F2; /* Text color */
  font-family: 'Courier New', Courier, monospace; /* Font family */
}

